body {
  margin: 10px;
  font-family: sans-serif;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
  height: auto;
  text-align: center;
  text-shadow: 1px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
}

.search-bar {
  margin: 12px;
  margin-bottom: 33px;
  text-align: center;
  background: #333333;
  color: #333333;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #333333;
  color: #eee;
}

.list-group-item {
  cursor: pointer;
  padding: 15px;
}

.list-group-item:hover {
background: #333333;
color: #eee;
}